{% extends "template.html" %} {% block content %}
<h2>Test</h2>

<div name="workers">
{% if workers|length !=0 %}
  {% for i in range(workers|length) %}
    <div id="{{i}}" name="worker">
      Worker : {{workers[i].ip}}:{{workers[i].port}}, value = {{values[i]}}
      <meta id="worker-{{i}}" data-ip="{{workers[i].ip}}" data-port="{{workers[i].port}}" data-value="{{values[i]}}"/>
    </div>
  {% endfor %}
{% endif %}
</div>

<meta id="worker-count" data-cnt="{{workers|length}}"/>

<script>
  const workers_cnt = $("#worker-count").data().cnt;
  let workers = [];
  
  class Worker
    {
    constructor(data)
      {
      this.ip = data.ip;
      this.port = data.port;
      this.value = data.value;
      }
    }
  
  function collect_workers()
    {
    for(let i = 0; i < workers_cnt; ++i)
      {
        let worker = "#worker-"+i;
        let worker_data = $(worker).data();
        workers.push(new Worker(worker_data));
      }
    }
  
  function update()
    {
    $.get('/api/internal/test',
                function(response) {
                  const data = response.data;
                  for (let j = 0; j < data.length; ++j)
                    $("#"+j).text(
                      "Worker : " + 
                      data[j].ip + ":" + data[j].port + 
                      ", value = " + data[j].val);
                }).then(()=>update());
    }
  update();
</script>


{% endblock %}